<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="template.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="jquery.ui.base.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="jquery.ui.theme.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="jquery.ui.tabs.css" media="screen" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="jquery-ui-1.8.21.custom.min.js"></script>
		<!--	<script type="text/javascript" src="jquery.tools.min.js"></script>	-->
		<script type="text/javascript" src="template.js"></script>
	</head>	

	<body>
		<!-- header -->
		<div id='header'>header</div>

		<div id='mainContainer'>

			<div class='topBar'></div>

			<div class='topHeader'>Halo ha milky way!</div>

			<div class='pageContainer'>
				
				<div class='leftPane'>
					<div class='leftPane radiusTopRightLeft shadowOut shadowInset'>
						<div class='leftPane lpInner radiusTopRightLeft shadowInset'>
							<div class='leftPaneContent'>
								<div id='bigImageDiv'>
									<img src='./images/scrollable/bigpic/big-pic.jpg' />
								</div>
								<div style="">
									<!-- "previous page" action -->
									<a class="prev browse left" data-direction='prev'></a>
									 
									<!-- root element for scrollable -->
									<div class="scrollable" id="scrollable">
									 
										<!-- root element for the items -->
										<div class="items">
										 
										    <!-- 1-5 -->
										    <div class='itemsContainer container1'>
											    <div><img src="./images/scrollable/thumbnail/thumb1.jpg" data-file='big-pic.jpg' /></div>
											    <div><img src="./images/scrollable/thumbnail/thumb2.jpg" data-file='mirr_kerr.jpeg' /></div>
											    <div><img src="./images/scrollable/thumbnail/thumb3.jpg" data-file='mirranda_kerr.jpeg' /></div>
											    <div><img src="./images/scrollable/thumbnail/thumb4.jpg" data-file='mir_ker.jpeg' /></div>
										    </div>
										 	
										    <!-- 5-10 -->									    
										    <div class='itemsContainer container2'>
										    	<div><img src="./images/scrollable/thumbnail/thumb1.jpg" data-file='big-pic.jpg' /></div>
											    <div><img src="./images/scrollable/thumbnail/thumb2.jpg" data-file='mirr_kerr.jpeg' /></div>
											    <div><img src="./images/scrollable/thumbnail/thumb3.jpg" data-file='mirranda_kerr.jpeg' /></div>
											    <div><img src="./images/scrollable/thumbnail/thumb4.jpg" data-file='mir_ker.jpeg' /></div>
										    </div>
										 	
										    <!-- 10-15 -->									    
										    <div class='itemsContainer container3'>
										    	<div><img src="./images/scrollable/thumbnail/thumb1.jpg" data-file='big-pic.jpg' /></div>
											    <div><img src="./images/scrollable/thumbnail/thumb2.jpg" data-file='mirr_kerr.jpeg' /></div>
											    <div><img src="./images/scrollable/thumbnail/thumb3.jpg" data-file='mirranda_kerr.jpeg' /></div>
											    <div><img src="./images/scrollable/thumbnail/thumb4.jpg" data-file='mir_ker.jpeg' /></div>
										    </div>
										 	
										</div>
									 
									</div>
									 
									<!-- "next page" action -->
									<a class="next browse right" data-direction='next'></a>
								</div>
							</div>
							<div class='rightPaneContent'></div>
						</div>
					</div>
					<div class='clear'></div>
					<div id="tabs">
						<ul>
							<li><a href="#tabs-1">EVENT DETAILS</a></li>
							<li><a href="#tabs-2">OTHER DETAILS</a></li>
							<li><a href="#tabs-3">DISCOUNTS & CONCESSIONS</a></li>
						</ul>
						<div id="tabs-1">
							<p>Proin</p>
						</div>
						<div id="tabs-2">
							<p>Morbi</p>
						</div>
						<div id="tabs-3">
							<p>Mauris</p>
						</div>
					</div>					
				</div>
				
				<div class='rightPane radiusTopRightLeft shadowOut shadowInset'>
					<div class='rightPane rpInner radiusTopRightLeft shadowInset'>

					</div>
				</div>				
				
			</div>

			
			<!-- footer -->
			<div id='footer'>footer</div>
		</div>
	</body>	
</html>